body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    padding-top: 6rem !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa !important;
}

.container{
    flex:1;
}

/* Navbar */


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-house-chimney{
    color: red;
    font-size: 2rem;
}

.nav-link{
    color: #222111 !important;
}

/* footer */
footer{
    width: 100%;
}

.f-info-links a {
    text-decoration: none;
}
.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    vertical-align: mid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.f-info {
    width: 100%;
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* Cards */
/* Listing Card Airbnb Style */
.listing-card {
    background: none;
    border: none;
    transition: transform 0.3s;
    margin-bottom: 2rem;
}

.listing-card:hover {
    transform: scale(1.02);
}

.listing-img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

.listing-img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    border-radius: 1rem;
}

.heart-icon {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    background: rgba(255, 255, 255, 0.9);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #374151;
    cursor: pointer;
    transition: background 0.3s;
}

.heart-icon:hover {
    background: white;
}

.listing-body {
    margin-top: 0.5rem;
}

.listing-location {
    font-weight: 600;
    font-size: 1rem;
    color: #111827;
}

.listing-distance,
.listing-dates {
    font-size: 0.9rem;
    color: #6b7280;
}

.listing-price {
    font-weight: 600;
    margin-top: 0.3rem;
    font-size: 1rem;
    color: #111827;
}
.listing-link{
    text-decoration: none;
    color: #000;
}

/* Cards hover effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

/* button */

.add-btn{
   background-color: #f92634 !important;
   border: none !important;
   transition: background-color 0.3s ease-in-out ;
}

.add-btn:hover {
    background-color: #d81b24 !important; 
}

.edit-btn{
   background-color: #3B82F6 !important;
   border: none !important;
    transition: background-color 0.3s ease-in-out ;
}

.edit-btn:hover {
    background-color: #2563EB !important; 
}

/* show page */

.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* map */

#map{
    height: 400px;
    width: 55vw;
}